In [1]:
# Libraries
import pandas as pd
import numpy as np
import re

In [2]:
netflix = pd.read_csv("../data/netflix_cleandata.csv", index_col=0)

In [3]:
# Getting the unique values
countries = list(netflix["country"].apply(str).unique())
countries = [x for x in countries if x != "nan"]

# Getting the first country from the unique

only_first_country = []

for country in countries:
    only_first_country.extend(re.findall(r"^(.+?),", country))
    
# Removing duplicates and sorting the countries
countries_clean = list(set(only_first_country))
countries_clean.sort()

In [7]:
def country_hot_encoded(df, country):
    
    """
    Input: Dataframe, list of unique countries
    
    Output: The function returns a SUM one-hot encoded of the countries
    """
    
    list_of = []
    for c in country:
        country_1 = df[df["country"].str.contains(c, case=False, regex=False, na=False)]
        df2 = country_1[["listed_in"]].unstack().str.get_dummies(sep=", ").sum(level = 0).rename(index={"listed_in":c})
        list_of.append(df2)
          
    result = pd.concat(list_of).fillna(0).astype(int)
    
    return result

country_hot_encoded(netflix, countries_clean)

,Action & Adventure,Children & Family Movies,Classic Movies,Comedies,Crime TV Shows,Cult Movies,Documentaries,Docuseries,Dramas,Horror Movies,...,TV Action & Adventure,TV Mysteries,TV Sci-Fi & Fantasy,TV Thrillers,Stand-Up Comedy & Talk Shows,Anime Series,Classic & Cult TV,Korean TV Shows,Anime Features,TV Shows
Argentina,3,2,1,10,4,1,6,1,27,3,...,0,0,0,0,0,0,0,0,0,0
Australia,10,16,3,14,9,1,14,9,29,3,...,1,1,2,2,0,0,0,0,0,0
Austria,0,0,0,0,0,0,3,0,5,0,...,0,0,0,0,0,0,0,0,0,0
Belgium,9,4,0,13,8,1,5,0,33,4,...,1,1,1,0,0,0,0,0,0,0
Brazil,3,3,0,11,4,0,11,2,22,0,...,0,1,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
United Arab Emirates,3,3,0,5,1,0,4,0,10,1,...,0,0,0,0,0,0,0,0,0,0
United Kingdom,59,24,11,67,43,5,106,83,122,22,...,6,3,3,3,1,0,6,0,0,0
United States,247,258,61,447,118,37,401,135,533,145,...,77,46,52,23,27,9,16,4,3,3
Uruguay,0,0,0,1,0,0,5,0,4,0,...,0,0,0,0,0,0,0,0,0,0
Venezuela,0,0,0,0,0,0,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
# Storing the one-hot encoding into a variable
country_encoded = country_hot_encoded(netflix, countries_clean)

# Saving the file into a CSV
#country_encoded.to_csv("../data/country_hotencodedtest.csv", sep=";")

In [ ]:
# Unstacking DF for Tableau importing
tableau_country = country_encoded.unstack().reset_index()

# Change column names for better understanding
tableau_country = tableau_country.rename(columns={"level_0":"genre", "level_1":"country", 0:"count"})

# Saving the file into a CSV
#tableau_country.to_csv("../data/genres_per_country.csv")