In [1]:
# Libraries
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import pandas as pd
import numpy as np
import re
from datetime import datetime as dt

In [104]:
# Importing Netflix DF
netflix = pd.read_csv("../data/Netflix_Titles.csv", )
netflix = netflix.drop(columns="description")
netflix["date_added"] = pd.to_datetime(netflix["date_added"])
netflix["date_added"] = netflix["date_added"].dt.strftime("%Y-%m")

# Importing IMDB DF
IMDB = pd.read_csv("../data/IMDB_results_nov-22-2020.csv", index_col=0)

# Joinig both tables
netflix = netflix.join(IMDB)

# Cleaning the DF mantaining the desired columns
netflix = netflix.drop(columns=["IMDB_titleID", "IMDB_title_name"])

In [105]:
netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,IMDB_rating
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China",2019-09,2019,TV-PG,90 min,"Children & Family Movies, Comedies",3.2 based on 294 user ratings
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,2016-09,2016,TV-MA,94 min,Stand-Up Comedy,5.0 based on 21 user ratings
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,2018-09,2013,TV-Y7-FV,1 Season,Kids' TV,"7.9 based on 5,331 user ratings"
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,2018-09,2016,TV-Y7,1 Season,Kids' TV,6.0 based on 830 user ratings
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,2017-09,2017,TV-14,99 min,Comedies,"5.2 based on 5,496 user ratings"

##### MANERA PARA ENCONTRAR TODAS LAS VECES QUE SALE UN PA√çS

Done

In [78]:
netflix_test_usa = netflix[netflix["country"].str.contains("United States", case=False, regex=False, na=False)]

In [79]:
netflix_test_usa

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China",2019-09,2019,TV-PG,90 min,"Children & Family Movies, Comedies"
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,2018-09,2013,TV-Y7-FV,1 Season,Kids' TV
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,2018-09,2016,TV-Y7,1 Season,Kids' TV
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,2017-09,2017,TV-14,99 min,Comedies
6,70304989,Movie,Automata,Gabe Ib√°√±ez,"Antonio Banderas, Dylan McDermott, Melanie Gri...","Bulgaria, United States, Spain, Canada",2017-09,2014,R,110 min,"International Movies, Sci-Fi & Fantasy, Thrillers"
...,...,...,...,...,...,...,...,...,...,...,...
6225,70153412,TV Show,Frasier,NaN,"Kelsey Grammer, Jane Leeves, David Hyde Pierce...",United States,NaN,2003,TV-PG,11 Seasons,"Classic & Cult TV, TV Comedies"
6226,70243132,TV Show,La Familia P. Luche,NaN,"Eugenio Derbez, Consuelo Duval, Luis Manuel √Åv...",United States,NaN,2012,TV-14,3 Seasons,"International TV Shows, Spanish-Language TV Sh..."
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Salda√±a, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ..."
6230,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies"

In [80]:
usa_testing = []

for word in netflix_test_usa["country"]:
    usa_testing.extend(re.findall(r"\bUnited States*", word))

In [81]:
len(usa_testing)

2610

##### INTENTO DE OBTENER TODOS LOS PA√çSES DE MANERA √öNICA

Done

In [83]:
#Obtenci√≥n de todos los unique values. Ahora extracci√≥n de los mismos en otra cell
countries = list(netflix["country"].apply(str).unique())
countries = [x for x in countries if x != "nan"]
#len(countries) es 554

In [13]:
only_first_country = []

for country in countries:
    only_first_country.extend(re.findall(r"^(.+?),", country))

In [14]:
countries_clean = list(set(only_first_country))
countries_clean.sort()
print(countries_clean)
len(countries_clean)

['Argentina', 'Australia', 'Austria', 'Belgium', 'Brazil', 'Bulgaria', 'Cambodia', 'Canada', 'Chile', 'China', 'Colombia', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Egypt', 'Finland', 'France', 'Georgia', 'Germany', 'Ghana', 'Hong Kong', 'Iceland', 'India', 'Indonesia', 'Iran', 'Ireland', 'Israel', 'Italy', 'Japan', 'Lebanon', 'Malaysia', 'Mauritius', 'Mexico', 'Netherlands', 'New Zealand', 'Norway', 'Pakistan', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Romania', 'Russia', 'Saudi Arabia', 'Serbia', 'Singapore', 'Slovenia', 'Somalia', 'South Africa', 'South Korea', 'Soviet Union', 'Spain', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand', 'Turkey', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Venezuela']

64

##### OBTENCI√ìN TODOS LOS G√âNEROS

Done

In [85]:
genres = netflix["listed_in"].apply(str).unique()
genres = [x for x in genres if x != "nan"]
#len(genres) de 461

In [86]:
only_first_genre = []

for genre in genres:
    only_first_genre.extend(re.findall(r"^(.+?),", genre))

In [87]:
genre_clean = list(set(only_first_genre))
genre_clean.sort()
print(genre_clean)
len(genre_clean)

['Action & Adventure', 'Anime Features', 'Anime Series', 'British TV Shows', 'Children & Family Movies', 'Classic & Cult TV', 'Classic Movies', 'Comedies', 'Crime TV Shows', 'Cult Movies', 'Documentaries', 'Docuseries', 'Dramas', 'Horror Movies', 'Independent Movies', 'International Movies', 'International TV Shows', "Kids' TV", 'Music & Musicals', 'Reality TV', 'Romantic TV Shows', 'Sci-Fi & Fantasy', 'Spanish-Language TV Shows', 'Stand-Up Comedy & Talk Shows', 'TV Action & Adventure', 'TV Comedies', 'TV Dramas', 'TV Horror', 'TV Sci-Fi & Fantasy']

29

#### Release Year

Done

In [91]:
# Obtener todos los valores y hacer un sort de manera descendente. 
# Ver aquellas fechas que tienen una mayor presencia (pelis/series nuevas vs antiguas)
# Agrupar por bins para categorizar

release = list(netflix["release_year"].apply(int).unique())
release.sort()
print(release)

[1925, 1942, 1943, 1944, 1945, 1946, 1947, 1954, 1955, 1956, 1958, 1959, 1960, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]

##### One Hot Encoding

In [92]:
#PASO 1
netflix[netflix["country"].str.contains("United States", case=False, regex=False, na=False)]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China",2019-09,2019,TV-PG,90 min,"Children & Family Movies, Comedies"
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,2018-09,2013,TV-Y7-FV,1 Season,Kids' TV
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,2018-09,2016,TV-Y7,1 Season,Kids' TV
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,2017-09,2017,TV-14,99 min,Comedies
6,70304989,Movie,Automata,Gabe Ib√°√±ez,"Antonio Banderas, Dylan McDermott, Melanie Gri...","Bulgaria, United States, Spain, Canada",2017-09,2014,R,110 min,"International Movies, Sci-Fi & Fantasy, Thrillers"
...,...,...,...,...,...,...,...,...,...,...,...
6225,70153412,TV Show,Frasier,NaN,"Kelsey Grammer, Jane Leeves, David Hyde Pierce...",United States,NaN,2003,TV-PG,11 Seasons,"Classic & Cult TV, TV Comedies"
6226,70243132,TV Show,La Familia P. Luche,NaN,"Eugenio Derbez, Consuelo Duval, Luis Manuel √Åv...",United States,NaN,2012,TV-14,3 Seasons,"International TV Shows, Spanish-Language TV Sh..."
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Salda√±a, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ..."
6230,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies"

In [96]:
# PASO 2
netflix_test_usa[["listed_in"]].unstack().str.get_dummies(sep=", ").sum(level = 0).rename(index={"listed_in":"United States"})

,Action & Adventure,Anime Features,Anime Series,British TV Shows,Children & Family Movies,Classic & Cult TV,Classic Movies,Comedies,Crime TV Shows,Cult Movies,...,TV Action & Adventure,TV Comedies,TV Dramas,TV Horror,TV Mysteries,TV Sci-Fi & Fantasy,TV Shows,TV Thrillers,Teen TV Shows,Thrillers
United States,247,3,9,22,258,16,61,447,115,37,...,73,195,189,30,44,50,3,23,20,202

In [26]:
# Hay que sustituir la parte de "United States" por country a la hora de hacer un for loop

In [97]:
#ESTO FUNCIONA PARA UN PA√çS, REPLICARLO PARA M√ÅS
def dummy_country_genre(df, country):
    country_1 = df[df["country"].str.contains(country, case=False, regex=False, na=False)]
    
    return country_1[["listed_in"]].unstack().str.get_dummies(sep=", ").sum(level = 0).rename(index={"listed_in":country})

dummy_country_genre(netflix, "United States")

,Action & Adventure,Anime Features,Anime Series,British TV Shows,Children & Family Movies,Classic & Cult TV,Classic Movies,Comedies,Crime TV Shows,Cult Movies,...,TV Action & Adventure,TV Comedies,TV Dramas,TV Horror,TV Mysteries,TV Sci-Fi & Fantasy,TV Shows,TV Thrillers,Teen TV Shows,Thrillers
United States,247,3,9,22,258,16,61,447,115,37,...,73,195,189,30,44,50,3,23,20,202

In [98]:
# DEVUELVE TODO EL DF ONE HOT ENCODED

def dummy_country_genre_test2(df, country):
    list_of = []
    for c in country:
        country_1 = df[df["country"].str.contains(c, case=False, regex=False, na=False)]
        df2 = country_1[["listed_in"]].unstack().str.get_dummies(sep=", ").sum(level = 0).rename(index={"listed_in":c})
        list_of.append(df2)
          
    result = pd.concat(list_of).fillna(0).astype(int)
    
    return result

dummy_country_genre_test2(netflix, countries_clean)

,Action & Adventure,Children & Family Movies,Classic Movies,Comedies,Crime TV Shows,Cult Movies,Documentaries,Docuseries,Dramas,Horror Movies,...,TV Action & Adventure,TV Mysteries,TV Sci-Fi & Fantasy,TV Thrillers,Stand-Up Comedy & Talk Shows,Anime Series,Classic & Cult TV,Korean TV Shows,Anime Features,TV Shows
Argentina,3,2,1,10,4,1,6,1,27,3,...,0,0,0,0,0,0,0,0,0,0
Australia,10,16,3,14,8,1,14,9,29,3,...,1,1,2,2,0,0,0,0,0,0
Austria,0,0,0,0,0,0,3,0,5,0,...,0,0,0,0,0,0,0,0,0,0
Belgium,9,4,0,13,6,1,5,0,33,4,...,1,1,1,0,0,0,0,0,0,0
Brazil,3,3,0,11,4,0,11,2,22,0,...,0,1,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
United Arab Emirates,3,3,0,5,1,0,4,0,10,1,...,0,0,0,0,0,0,0,0,0,0
United Kingdom,59,24,11,67,43,5,106,82,122,22,...,6,3,3,3,1,0,6,0,0,0
United States,247,258,61,447,115,37,401,134,533,145,...,73,44,50,23,27,9,16,2,3,3
Uruguay,0,0,0,1,0,0,5,0,4,0,...,0,0,0,0,0,0,0,0,0,0
Venezuela,0,0,0,0,0,0,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [100]:
countries_genre_encoded = dummy_country_genre_test2(netflix_clean, countries_clean)
#countries_genre_encoded.to_csv("../data/contrie_genre_encoded.csv")